* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
   height: 100%;
}

body {
   background-color: #851400;
   background-image: url(http://www.transparenttextures.com/patterns/ps-neutral.png);
   font-family: "Roboto", sans-serif;
   display: flex;
   flex-direction: column;
}

header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #bfe4ba;
   text-align: center;
   padding-left: 20%;
   padding-right: 20%;
   padding-top: 20px;
   padding-bottom: 20px;
   max-width: 850px;
}

header div {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

header img {
   width: 100%;
   max-width: 125px;
}

header h1 {
   font-family: 'Vidaloka', serif;
   color: darkslategray;
   padding-left: 15px;
}

main {
   flex: 1 0 auto;
   text-align: center;
   padding: 50px 5%;
   max-width: 500px;
   margin: auto;
}

main h3 {
   color: white;
   padding-bottom: 40px;
}

main h3 span {
   font-style: italic;
   padding: 0 3px;
}

main button {
   font-family: 'Roboto', sans-serif;
   font-size: 1em;
   padding: 10px;
   background-color: #e6bea4;
}

main p{
   font-size: 2em;
   padding-bottom: 20px;
   color: #aadaa4;
}

main div figure img {
   width: 100%;
   max-width: 300px;
   padding-top: 40px;
}

footer {
   color: white;
   background-color: darkslategray;
   padding: 15px 5%;
   text-align: center;
   flex-shrink: 0;
}
     